[submodule "Assignment-3/survey-ui"]
	path = Assignment-3/survey-ui
	url = https://github.com/aniket414/survey-ui.git
[submodule "Assignment-3/survey"]
	path = Assignment-3/survey
	url = https://github.com/aniket414/survey.git
